html {
    height: 100%;
    width: 100%;
  }
  body{
    background-color: black;
  }
  .button{
    width: 50px;
    margin: 5px;
    padding: 8px;
    font-size: 25px;
    cursor: pointer;
    border:2px solid rgb(57, 55, 55);
    border-radius: 20px;
  }
  .input{
    margin: 0px;
    padding: 0px;
    width: 235px;
    height: 75px;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 20px;
  }
  .num{
    background-color:rgb(57, 55, 55);
    color: white;
  }
  .symbol{
    background-color: rgb(255, 165, 0);
    color: white;
  }
  .fun-btn{
    background-color:rgb(180, 180, 180);
    color: black;
  }